@font-face {
    font-family: 'poppinsM';
    src: url('../../font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppinsL';
    src: url('../../font/Poppins-Light.ttf');
}

.canvas-all {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;
    margin-top: 5vh;
}

.canvaspad {
    width: 60vw;
    height: 50vh;
    background: rgb(255, 255, 255);
    border: 1.2px dashed;
    margin-top: 2vh;
}

.canvas-save {
    font-family: 'poppinsM';
    /* float: right; */
    display: inline-block;
    /* background: #69c; */
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.canvas-save:hover{
    color: #69c;
}

.canvas-clear {
    font-family: 'poppinsM';
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.canvas-clear:hover{
    color: #69c;
}

/* .pencil__refresh {
    background-color: #FCF4EA;
    border: none;
    border-radius: 50%;
    bottom: 18px;
    cursor: pointer;
    height: 26px;
    padding: 4px 1px 0px;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: auto;
    z-index: 3;
}

.pencil__submit {
    bottom: 27px;
    display: none;
    position: absolute;
    right: 80px;
    z-index: 4;
 } */