@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsM';
    src: url('../font/Poppins-Medium.ttf');
}

::-webkit-scrollbar { 
    width: 8px;
}

::-webkit-scrollbar-track { 
    background-color: #8ec5fc;
}

::-webkit-scrollbar-thumb { 
    background: #5a5a5a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #70a5da; 
}

::-webkit-scrollbar-thumb:active { 
    background: #3a5e81;
} 

::-webkit-scrollbar-button { display: none; }

.bs-all {
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0c3fc;
    background-image: linear-gradient(147deg, #e0c3fc 0%, #8ec5fc 74%);
}

.about {
    overflow: hidden;
    min-height: 80.7vh;
    height: fit-content;
    width: 75%;
    margin-top: 1.8rem;
}

.first {
    min-height: 80.7vh;
    padding: 5%;
}

.first-text {
    width: auto;
    height: fit-content;
    color: white;
    font-size: 45px;
    font-family: 'SDSamliphopangche_Basic';
    margin-top: 3rem;
}

@keyframes spacing {
    0% {
        opacity: 0;
        color:rgb(51, 51, 51);
    }
    50% {
        opacity: 1;
        color: #000;
    }
    100% {
        opacity: 1;
        color: white;
    }
}

.first-text:hover {
    animation: spacing 2.2s ease-in-out;
}

.about-logo {
    margin-top: 5px;
    width: 440px;
    height: auto;
}

.first-details {
    font-size: 17px;
    color: rgb(51, 51, 51);
    font-family: 'IBMPlexSansKR-Light';
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 3.6rem;
}

.about-kid {
    width: 255px;
    height: auto;
    float: right;
    margin-right: 2rem;
    opacity: 60%;
}

.second {
    background-color: white;
    padding: 5%;
    width: auto;
    height: 70vh;
    min-height: 60vh;
    border-radius: 28px 28px 0 0;
    text-align: center;
}

.second-text {
    color: rgb(34, 34, 34);
    font-size: 32px;
    font-family: 'SDSamliphopangche_Basic';
    margin-top: 2rem;
    line-height: 1.3em;
    text-align: center;
}

.second-details {
    font-size: 15px;
    color: rgb(129, 129, 129);
    font-family: 'IBMPlexSansKR-Light';
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 1rem;
    text-align: center;
}

.about-emotion {
    width: 25%;
    height: auto;
    margin-top: 2rem;
    opacity: 50%;
}

.third {
    background-color: rgb(250, 250, 250);
    padding: 5%;
    width: auto;
    height: 70vh;
    min-height: 60vh;
}

.third-text {
    color: rgb(34, 34, 34);
    font-size: 32px;
    font-family: 'SDSamliphopangche_Basic';
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 1.3em;
}

.third-details {
    font-size: 15px;
    color: rgb(129, 129, 129);
    font-family: 'IBMPlexSansKR-Light';
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 1rem;
    margin-left: 2rem;
}

.about-lang {
    width: 28%;
    height: auto;
    float: right;
    margin-right: 2rem;
    opacity: 90%;
}

.fourth {
    background-color: white;
    padding: 5%;
    width: auto;
    height: 70vh;
    min-height: 60vh;
}

.fourth-text {
    color: rgb(34, 34, 34);
    font-size: 34px;
    font-family: 'SDSamliphopangche_Basic';
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 1.3em;
}

.fourth-details {
    font-size: 15px;
    color: rgb(129, 129, 129);
    font-family: 'IBMPlexSansKR-Light';
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 1rem;
    margin-left: 2rem;
}

.fifth {
    background-color: rgb(250, 250, 250);
    padding: 5%;
    width: auto;
    height: 70vh;
    min-height: 60vh;
}

.fifth-text {
    color: rgb(34, 34, 34);
    font-size: 34px;
    font-family: 'SDSamliphopangche_Basic';
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 1.3em;
}

.fifth-details {
    font-size: 15px;
    color: rgb(129, 129, 129);
    font-family: 'IBMPlexSansKR-Light';
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 1rem;
    margin-left: 2rem;
}

.sixth {
    background-color: white;
    padding: 5%;
    width: auto;
    height: 70vh;
    min-height: 60vh;
}

.sixth-text {
    color: rgb(34, 34, 34);
    font-size: 33px;
    font-family: 'SDSamliphopangche_Basic';
    margin-top: 2rem;
    line-height: 1.3em;
    text-align: center;
}

.sixth-details {
    line-height: 1.5em;
    margin-top: 2.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.way {
    font-family: 'SDSamliphopangche_Basic';
    font-size: 17px;
    margin: 10px 0;
}

.way-details {
    font-size: 14px;
    color: rgb(129, 129, 129);
    font-family: 'IBMPlexSansKR-Light';
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 1rem;
}

.seventh {
    background-color: rgb(250, 250, 250);
    padding: 5%;
    width: auto;
    height: 80vh;
    min-height: 60vh;
}

.seventh-text {
    color: rgb(34, 34, 34);
    font-size: 33px;
    font-family: 'SDSamliphopangche_Basic';
    margin-top: 2rem;
    line-height: 1.3em;
    text-align: center;
}

.seventh-details {
    line-height: 1.5em;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-intro {
    width: 40%;
    height: fit-content;
    margin: 10px;
}

.about-img {
    width: 35%;
    height: auto;
    margin: 10px;
}

.about-name {
    font-family: 'poppinsM';
    font-size: 16px;
    margin: 10px 0;
}

.about-bio {
    font-size: 14px;
    color: rgb(129, 129, 129);
    font-family: 'IBMPlexSansKR-Light';
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 1rem;
}
